@import '_partial';

#banner-section {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../../images/home/banner-image.jpeg");
	background-position: center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  @include bgSize(cover);

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }
  #banner-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    @include transform(translateY(-50%));

    p {
      width: 45%;
    }
  }
}
@media screen and (max-width: 992px){
  #banner-section {
    #banner-content {
      p {
        width: 65%;
      }
    }
  }
}
@media screen and (max-width: 992px){
  #banner-section {
    #banner-content {
      p {
        width: 85%;
      }
    }
  }
}
@media screen and (max-width: 900px) and (max-height: 500px){
  #banner-section {
    #banner-content {
      left: 50%;
      top: 55%;
      @include transform(translate(-50%,-50%));
    }
  }
}
@media screen and (max-width: 700px) and (max-height: 400px){
  #banner-section {
    #banner-content {
      .banner-btn-wrap {
        margin: 18px auto !important;
      }
    }
  }
}
@media screen and (max-width: 600px) and (max-height: 350px){
  #banner-section {
    #banner-content {
      left: 50%;
      top: auto;
      bottom: 0;
      @include transform(translateX(-50%));
      .divider {
        margin: 16px auto 24px !important;
      }
    }
  }
}