header {
	width: 100%;
	z-index: 5;
	transition: 0.3s;
}
@media screen and (max-width: 992px) {
	nav {
		background: black;
	}
}
/* .nav-logo {
	float: left;
}
.nav-logo a {
	display: block;
	padding: 10.5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 150%;
	color: var(--main-yellow-color) !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.nav-logo a:hover {
	text-shadow: 0 0 3px var(--main-yellow-color);
}
#search-section {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 60px;
	padding: 10px;
	background-color: #393939;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	z-index: 1;
}
#search-section.active-search {
	top: 50px;
}
#close-search-btn {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	right: 2%;
	cursor: pointer;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#close-bar-one {
	width: 40px;
	height: 2px;
	background-color: var(--main-yellow-color);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
	-webkit-transform: rotate(45deg) translateY(-50%);
	-moz-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	-o-transform: rotate(45deg) translateY(-50%);
}
#close-bar-two {
	width: 40px;
	height: 2px;
	background-color: var(--main-yellow-color);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: absolute;
	top: 48%;
	transform: rotate(135deg) translateY(-50%);
	-webkit-transform: rotate(135deg) translateY(-50%);
	-moz-transform: rotate(135deg) translateY(-50%);
	-ms-transform: rotate(135deg) translateY(-50%);
	-o-transform: rotate(135deg) translateY(-50%);
}
.navigation {
	position: relative;
	float: right;
}
.navigation ul {
	margin: 0 !important;
	padding: 0 !important;
}
.horizontal-nav li {
	float: left;
}
.horizontal-nav li a {
	display: block;
	padding: 6px 15px;
	border: 1.5px solid transparent;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-decoration: none;
	font-weight: bold;
	color: var(--main-yellow-color) !important;
	margin: 8px 5px 0 0;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
}
.horizontal-nav li a:hover {
	border: 1.5px solid var(--main-yellow-color);
	margin: 8px 5px 0 0;
}
.vertical-nav {
	display: none;
	box-shadow: 0 0 10px var(--main-yellow-color);
}
.vertical-nav li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: bold;
	color: var(--main-yellow-color) !important;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
}
.horizontal-nav li a:focus {
	outline: none !important;
}
#icon {
	display: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
	top: 0px;
	right: 15px;
}
#vertical-search-btn {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 52%;
	right: 50px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	color: var(--main-yellow-color);
	font-size: 2.5rem;
	line-height: 45px;
	padding: 3px 10px 0;
}
#hamburger-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 30px;
	height: 4px;
	background-color: var(--main-yellow-color);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#hamburger-menu:before,
#hamburger-menu:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 4px;
	background-color: var(--main-yellow-color);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
}
#hamburger-menu:before {
	top: -10px;
}
#hamburger-menu:after {
	top: 10px;
}
#icon.active #hamburger-menu:before {
	top: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
#icon.active #hamburger-menu {
	background-color: rgba(0,0,0,0);
}
#icon.active #hamburger-menu:after {
	top: 0;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}
.vertical-nav {
	position: absolute;
	top: 135%;
	right: -200px;
	width: 180px;
	height: auto;
	background-color: var(--main-black-color);
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	z-index: 3000 !important;
	transition: right 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: opacity 0.1s;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
}
.vertical-nav:after {
	content: "";
	position: absolute;
	bottom: 100%;
  left: 72%;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent var(--main-black-color) transparent;
}
.vertical-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.vertical-nav li {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
.vertical-nav li a {
	display: block;
	padding: 15px;
	padding-bottom: 25px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: var(--main-yellow-color) !important;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.vertical-nav li a:hover {
	border-right: 3px solid var(--main-yellow-color);
	border-left: 3px solid var(--main-yellow-color);
}
.show-vertical-nav {
	display:block;
	right: -10px;
}
#click-box {
	position: relative;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	z-index: 1;
} */